body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f0fa;
    color: #333;
    text-align: center;
}

header{
    background-color: #0077c8;
    color: white;
    padding: 20px;
}

h1{
    margin: 0;
}

main{
    padding: 0;
}

h2{
    color: #005fa3;
}

form{
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #005fa3;
}


input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #ffffff;
}

textarea{
    resize: vertical;
}

button[type="submit"]{
    background-color: #0077c8;
    color: white;
    border: none;
    padding: 10px 25px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 5px;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3;
}


button[type="submit"]:hover{
    background-color: #005fa3;
}

.enviar-btn{
    background-color: #0077c8;
    color: white;
    border: none;
    padding: 10px 25px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3;
}


.enviar-btn:hover{
    background-color: #005fa3;
}

.voltar-box{
    margin-top: 20px;
    text-align: center;
}

.voltar-btn{
    background-color: #0077c8;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3;
    display: inline-block;
}

.voltar-btn:hover{
    background-color: #005fa3;
}